
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Opensans');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-black;
    scroll-behavior: smooth;
}

a {
    @apply text-primary-link;
}
p {
    @apply text-base font-medium leading-5 text-white tracking-tight mb-0;
}
h1 {
    @apply mt-2 text-4xl font-medium leading-9 text-white tracking-tight sm:text-4xl;
}
h2 {
    @apply mt-2 text-3xl font-medium leading-8 text-white tracking-tight sm:text-3xl;
}
h3 {
    @apply mt-2 text-2xl font-medium leading-8 text-white tracking-tight sm:text-2xl;
}
h4 {
    @apply mt-2 text-xl font-medium leading-8 text-white tracking-tight sm:text-xl;
}
h5 {
    @apply mt-2 text-lg font-medium leading-8 text-white tracking-tight sm:text-lg;
}
h6 {
    @apply mt-2 text-sm font-medium leading-8 text-white tracking-tight sm:text-sm;
}

.content-txt ul{
    list-style-type: circle;
    @apply ml-8;
}
.content-txt ul li{
    @apply mt-2;
}



.vue-skeletor {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12); }
    .vue-skeletor:not(.vue-skeletor--shimmerless):after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(37, 22, 22, 0));
      animation: shimmer 1.5s infinite;
      content: ''; }
    .vue-skeletor--rect, .vue-skeletor--circle {
      display: block; }
    .vue-skeletor--circle {
      border-radius: 50%; }
    .vue-skeletor--pill, .vue-skeletor--text {
      border-radius: 9999px; }
    .vue-skeletor--text {
      line-height: 1;
      display: inline-block;
      width: 100%;
      height: inherit;
      vertical-align: middle;
      top: -1px; }
  
  @keyframes shimmer {
    100% {
      transform: translateX(100%); } }
  



